<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  {% if print_success_message %}
  <h1>New book has successfully been added to the database.</h1>
      <a href="{{ url_for('home_page') }}">Go back</a>
  {% else %}
  <form action="/add_book" method="POST">
  <label for="isbn">ISBN:</label>
  <input type="text" id="isbn" name="isbn"><br><br>
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required><br><br>
  <label for="publication_year">Publication Year:</label>
  <select id="publication_year" name="publication_year" required>
      {% for year in range(current_year, 1449, -1) %}
          <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
  </select><br><br>
  <label for="author_id">Author:</label>
  <select id="author_id" name="author_id" required>
      {% for author in authors %}
          <option value="{{ author.author_id }}" {% if author.author_id == preselected_author_id %}selected{% endif %}>
              {{ author.name }}
          </option>
      {% endfor %}
  </select>
  <p class="hint">
      Can't find the author?
      <a href="{{ url_for('add_author') }}">Add a new one</a>.
  </p>
  <input type="submit" value="Add book">
  </form>
  {% endif %}
  </body>
</html>
