{% extends "base.html" %}

{% block title %}Add Author{% endblock %}

{% block content %}
  <div class="toolbar" style="max-width: 494px; margin: 0 auto 14px;">
      <a href="{{ url_for('home_page') }}" class="button">Home</a>
      <a href="{{ url_for('add_book') }}" class="button">Add book</a>
  </div>
  {% if author_added %}
  <h1>New author has successfully been added to the database.</h1>
      <a href="{{ url_for('home_page') }}">Go back</a>
      <a href="{{ url_for('add_book', author_id=new_author_id) }}">Add book by this author</a>
  {% else %}
  <form action="/add_author" method="POST">
  <label for="name">Author Name:</label>
  <input type="text" id="name" name="name" required>
  <button type="submit" formaction="{{ url_for('search_and_add_author') }}" formmethod="GET" formnovalidate>Search on OpenLibrary</button><br><br>
  <label for="birthdate">Birthdate:</label>
  <input type="date" id="birthdate" name="birthdate" required><br><br>
  <label for="date_of_death">Date of Death:</label>
  <input type="date" id="date_of_death" name="date_of_death"><br><br>
  <input type="submit" value="Add Author">
  </form>
  {% endif %}
{% endblock %}
